body {
    font-family: 'Gotham-Light', sans-serif;
    font-size: 35px;

    background-image: url("/static/images/texture-bg.png");
    background-size: cover;
    background-position: center;
}

.container {
    max-width: 1650px;
    padding: 0 - 15px;
    margin: 0 auto;
}

p {
    color: #344EAD;
}

.header {

}

.welcome {
    min-height: 718px;
    /* height: 100vh; */

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #1c1c1c;
    
    background-image: url("/static/images/header-bg.png");
    background-size: cover;
    background-position: center;
}

.logo {
    width: 1311.2px;
    height: 365.2px;
}

.about {
    min-height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.photo {
    min-height: 1124px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.photo__b {
    width: 1612px;
    height: 294px;
    
    margin: 31px;
    background-color: #344EAD;
    
    display: flex;
    justify-content: center;
    align-items: center;
}