<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Samobutnya</title>
    <!-- styles -->
    <link rel="stylesheet" href="static/css/reset.css">
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="stylesheet" href="static/css/fonts.css"> 
    <link rel="stylesheet" href="static/css/scrollbar.css">
</head>
<body>
    <!-- header -->
    <header class="header">
        <!-- welcome -->
        <section class="welcome">
            <div class="container">
                <img src="/static/images/header-logo.png" class="logo" alt="Samobutnya">
            </div>
        </section>
    </header>
    <!-- main -->
    <main class="main">
        <!-- about brend -->
        <section class="about">
            <div class="container">
                <p> 
                Серед безмежних просторів Всесвіту, де зірки світять яскравими ліхтарями, 
                існують незвідані таємниці, які зачаровують людську уяву. Віддалені галактики 
                ховають у собі мільярди світів, кожен з яких може мати свої історії, жителів 
                і неймовірні пригоди. Уявіть собі планету, де небеса пурпурні, а океани сяють 
                смарагдовим світлом.
                </p>
            </div>
        </section>
        <!-- about what? -->
        <section class="photo">
            <div class="container">
                    <img src="/static/images/pthoto_bt_1.png" class="photo__b" alt="Samobutnya">

                    <img src="/static/images/pthoto_bt_2.png" class="photo__b" alt="Samobutnya">

                    <img src="/static/images/pthoto_bt_3.png" class="photo__b" alt="Samobutnya">
            </div>
        </section>
    </main>
</body>
</html>