<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Samobutnya</title>
    <!-- styles -->
    <link rel="stylesheet" href="static/css/reset.css">
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="stylesheet" href="static/css/fonts.css">
</head>
<body>
    <header class="header">
        <section class="welcome">
            <div class="container">
                <img src="/static/images/header-logo.png" class="logo" alt="Samobutnya">
            </div>
        </section>
    </header>
    <main class="main">
        <section>
            
        </section>
    </main>
</body>
</html>